<div class="container">
  <h1 id="hello">Welcome!</h1>

  <button (click)="getLocation()">Try It</button>
  <p>Latitude: {{latitude}}</p>
  <p>Longitude: {{longitude}}</p>

  <sebm-google-map
     [latitude]="lat"
     [longitude]="lng"
     [zoom] = "15">

    <sebm-google-map-marker
         [latitude]="latitude"
         [longitude]="longitude">
      <sebm-google-map-info-window>
        <strong>My location</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
    ,
    <sebm-google-map-circle [latitude]="34.680656" [longitude]= "-82.841908"
                            [radius]="70"
                            [fillColor]="'red'"
                            [clickable]="true"
                            [circleDraggable]="false"
                            [editable]="false">
      <sebm-google-map-info-window>
        <strong>Eligible Workout Location</strong>
      </sebm-google-map-info-window>
    </sebm-google-map-circle>>



  </sebm-google-map>

  <button (click)="logLocation()">Log Your Location</button>

</div>
